*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url(./design/RonSwanson.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2E211B;
  height: 20vh;

} */

.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  padding-top: 4rem;
  font-size: 2rem;
}

.ron{
  position: fixed;
  left: 39%;
  top: 50%;
  margin-top: 200px;
}

.ron:hover{
  transform: rotate(40deg);
}



@media (min-width: 600px){
  .ron{
    left: 41.5%;
  }
}

@media (min-width: 768px){
  .ron{
    left: 44.5%;
  }
}

@media (min-width: 1024px){
  .ron{
    top: 51%;
    left: 46%;
  }
}




