*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url(./design/RonSwanson.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2E211B;
  height: 20vh;

} */

.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-top: 150px;
}






